body{
	background: darkviolet;
	color: white;
	font-size: 120%;
	display: flex;
}

img{
	background: white;
	border-radius:15%;
	padding: 1%;
}

main{
	border-radius: 205px;
	background: darkblue;
	padding: 5%;
	width: 80%;
}

.container{
	display: flex;
}

li{
	margin: 2px;
}

.item {
	padding: 1%;
}
